<body class="login">
    {{>navigation}}

    <div class="contenedor-registro">
        <form action="/peliculas/new-movie" method="post" class="registrarse-r">
            <h3 class="registro__titulo">Agregar Pelicula</h3>

            <div class="cuestionario-r">

                <p class="registro__palabras">*Nombre</p>
                <input type="text" name="name" placeholder="Nombre" class="registro__name">

                <p class="registro__palabras">*Descripcion</p>
                <input type="text" name="description" placeholder="Descripcion" class="registro__name">

                <p class="registro__palabras">*Sinopsis</p>
                <input type="text" name="sinopsis" placeholder="Sinopsis" class="registro__name">

                <p class="registro__palabras">*Valuacion</p>
                <input type="number" step="0.01" name="valuation" placeholder="Valuacion" class="registro__name">

                <p class="registro__palabras">*Genero</p>
                <input type="text" name="gender" placeholder="Genero" class="registro__name">

                <p class="registro__palabras">Cantidad Disponible</p>
                <input type="number" name="stock" placeholder="Cantidad Disponible" class="registro__name">

                <p class="registro__palabras">Asientos</p>
                <input type="text" name="seats" placeholder="Asientos" class="registro__name">

                <p class="registro__palabras">Personas</p>
                <input type="text" name="people" placeholder="Personas" class="registro__name">

                <p class="registro__palabras">Imagen</p>
                <input type="text" name="image" placeholder="Imagen" class="registro__name">
            </div>

            <input class="boton-registro" type="submit" value="Agregar">
        </form>
    </div>

</body>