 <body class="login">
 {{>navigation}}
 
    <div class="contenedor-about">
        <div class="about-titulo">
            <h1>Acerca de Nosotros</h1>
        </div>

        <div class="about-desc">
            <div class="about-desc__parrafo">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim recusandae harum quod magnam quisquam dicta unde ducimus 
                    quas porro maiores eveniet, neque assumenda provident reprehenderit excepturi voluptatem laudantium fugit nemo fugiat, earum 
                    dolor ad? Minima fugit, veniam eos cupiditate odio architecto totam, obcaecati nulla officiis explicabo molestiae. Vitae, 
                    voluptates enim nam aut doloribus ipsum dolorem ab quas quam quis rem. Enim tenetur rerum sed exercitationem, porro recusandae 
                    molestiae obcaecati molestias consectetur delectus voluptas sapiente fuga vero perferendis quam nobis. Doloremque dolore reprehenderit 
                    facilis nemo ex blanditiis animi sint sapiente? Ipsum sapiente nihil suscipit officia consequatur! Vel, quos molestias reiciendis 
                    assumenda soluta error sapiente tenetur iste iure deleniti neque voluptates, in eius? Cumque reiciendis ipsa maiores nobis illo 
                    asperiores voluptate ad perferendis sit explicabo vel aut expedita ipsam possimus laudantium voluptas fuga inventore facilis sed,
                    est temporibus. Culpa incidunt doloribus id reprehenderit mollitia autem sunt illo minus, unde assumenda deserunt?
                </p>
            </div>

            <div class="about-desc__img"></div>

        </div>

        <div class="fundadores">
            <div class="fundadores__titulo">
                <h1>Fundadores</h1>
            </div>

            <div class="fundadores__personas">
                <div class="fundadores__personas__sergio">
                    <h1>Sergio Saavedra</h1>
                    <div class="fundadores__personas__kerssen__sec">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem excepturi aut necessitatibus
                            cupiditate, soluta vitae delectus dolores ad qui, exercitationem nostrum quis ipsum quaerat,
                            laudantium velit explicabo nisi voluptate natus?
                        </p>
                        <div class="imagen__sergio"></div>
                    </div>
                </div>
                <div class="fundadores__personas__kerssen">
                    <h1>Kerssen Barros</h1>
                    <div class="fundadores__personas__kerssen__sec">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem excepturi aut necessitatibus
                            cupiditate, soluta vitae delectus dolores ad qui, exercitationem nostrum quis ipsum quaerat,
                            laudantium velit explicabo nisi voluptate natus?
                        </p>
                        <div class="imagen__kerssen"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        {{>footer}}
    </footer>

    <script src="/js/about.js"></script>
    
 </body>