<header class="header">

  <div class="contenedor">
    <div class="barra">
      <a class="logo" href="/">
        <h1 class="logo__nombre no-margin centrar-texto">Ticketera</h1>
      </a>

      <nav class="navegacion">
        <a href="/about" class="navegacion__enlace">Acerca de</a>
        <a href="/preguntasf" class="navegacion__enlace">Preguntas
          frecuentes</a>
        <a href="/contacto" class="navegacion__enlace">Contacto</a>
        <a id="eliminar" href="/login" class="navegacion__enlace">Mi cuenta</a>
      </nav>
    </div>
  </div>

  <div class="header__texto">
    <h2 class="no-margin">Peliculas para ver con tu familia</h2>
    <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Beatae, provident ?</p>
  </div>
</header>



    <!-- Buscador -->
    <div class="buscador">
        <input class="buscador__caja" type="search" placeholder="Buscar pelicula">
        <input class="buscador__boton" type="submit" value="Buscar">
    </div>


    <!-- HAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->

    <!-- Peliculas -->
    <div class="contenedor-pelicula">

        <a id="pelicula1" class="ir-pelicula" href="/peli">
            <div class="pelicula">
                <img id="imagen1" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula1" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula1" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>

        <a id="pelicula2" class="ir-pelicula" href="peli.html">
            <div class="pelicula">
                <img id="imagen2" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula2" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula2" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>

        <a id="pelicula3" class="ir-pelicula" href="peli.html">
            <div class="pelicula">
                <img id="imagen3" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula3" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula3" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>

        <a id="pelicula4" class="ir-pelicula" href="peli.html">
            <div class="pelicula">
                <img id="imagen4" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula4" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula4" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>

        <a id="pelicula5" class="ir-pelicula" href="peli.html">
            <div class="pelicula">
                <img id="imagen5" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula5" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula5" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>

        <a id="pelicula6" class="ir-pelicula" href="peli.html">
            <div class="pelicula">
                <img id="imagen6" class="pelicula__imagen" src="img/marvel.jpeg">
                <h3 id="tituloPelicula6" class="pelicula__titulo">Cargando...</h3>
                <p id="descripcionPelicula6" class="pelicula__info">Cargando Descripcion...</p>
            </div>
        </a>
    </div>


<footer class="footer">
    {{>footer}}
</footer>

<script src="/js/index.js"></script>