<body class="login">
    {{>navigation}}
    
        <div class="contenedor-QyA">
        <div class="QyA-titulo">
            <h1 class="padding-top-2rem">Preguntas Frecuentes</h1>
        </div>

        <div class="QyA-text">
            <div class="text__pregunta">
                <h3 class="margin_left_2rem">Compra de Boletos</h3>
            </div>

            <div class="text__respuesta">
                <p>
                    Puedes comprar tus boletos a través de nuestra página de Internet.
                </p>

                <p>
                    Si el lugar del evento cuenta con boletería física, como es el caso del Coliseo José Miguel Agrelot,
                    puedes comprarlos físicamente en ese punto. En esos casos, debes verificar el horario de operación
                    de la
                    boletería directamente con el lugar del evento.
                </p>

                <p>
                    En el caso de eventos de alta demanda, una vez hagas la compra recibirás solamente un correo
                    electrónico con la confirmación de compra. Los boletos serán enviados por correo electrónico cinco
                    (5) días antes de la fecha del evento, por motivos de seguridad. Esto aplica también a todos los
                    eventos que se lleven a cabo en el Coliseo José Miguel Agrelot y el Coca Cola Music Hall.
                </p>

                <p>
                    Por motivos de seguridad, en los eventos a celebrarse en el Coliseo de Puerto Rico y el Coca-Cola
                    Music Hall se envían dos (2) correos electrónicos: uno de confirmación de compra y otro, cinco (5)
                    días antes de la fecha del evento, con tus boletos. En los eventos de alta demanda celebrados en
                    otras instalaciones, también puede aplicar el envío de los boletos cinco (5) días antes de la fecha
                    del evento.
                </p>
            </div>

            <div class="text__pregunta">
                <h3 class="margin_left_2rem">¿Cómo compro mis boletos?</h3>
            </div>

            <div class="text__respuesta">
                <p>
                    Una vez escoges el evento al que deseas asistir, podrás hacer la selección del inventario
                    disponible* por estas categorías:
                </p>

                <ul>
                    <li>Entrada general</li>
                    <li>Escoger asiento numerado</li>
                    <li>Por valor del boleto</li>
                </ul>

                <p>
                    Para las compras de conciertos o shows en el Coliseo José Miguel Agrelot y el Coca Cola Music Hall
                    podrás ver el diagrama de los asientos para identificar y escoger de una manera más fácil tus
                    asientos.
                </p>
            </div>

            <div class="text__pregunta">
                <h3 class="margin_left_2rem">¿Cómo obtengo los boletos comprados por la página de Internet?</h3>
            </div>

            <div class="text__respuesta">
                <p>
                    Una vez compres tus boletos, recibirás dos (2) correos electrónicos: uno de confirmación de
                    compra y otro con tus boletos. Puedes presentar tu boleto electrónico desde tu teléfono celular
                    o impreso en la entrada del evento. Los boletos comprados con este servicio NO ESTÁN disponibles
                    para recoger en la boletería.
                </p>
            </div>

            <div class="text__pregunta">
                <h3 class="margin_left_2rem">¿Durante eventos de alta demanda, dónde puedo comprar mis boletos y
                    cómo?
                </h3>
            </div>

            <div class="text__respuesta padding-bottom-2rem" >
                <p>
                    Puedes comprar tus boletos a través de nuestra página de Internet www.ticketera.com. Debes estar
                    pendiente a cualquier instrucción especial a comunicarse por parte de Ticketera® a través de sus
                    redes sociales o por el productor del evento.
                </p>

                <p>
                    En algunas instancias, si el lugar del evento cuenta con boletería física como es el caso del
                    Coliseo José Miguel Agrelot y el Coca Cola Music Hal. El promotor del evento determina ofrecer
                    esa alternativa de venta, puedes comprarlos físicamente en ese punto. En esos casos, debes
                    verificar el horario de operación de la boletería directamente con el lugar del evento.
                </p>
            </div>

        </div>
    </div>

    <footer class="footer">
        {{>footer}}
    </footer>
    
    <script src="/js/preguntasf.js"></script>
    
</body>