<header class="header-login">
  <div class="contenedor">
    <div class="barra-login">
      <a class="logo-login" href="/">
        <h1 class="logo__nombre no-margin centrar-texto">Ticketera</h1>
      </a>

      <nav class="navegacion">
        <a href="/about" class="navegacion__enlace">Acerca de</a>
        <a href="/preguntasf" class="navegacion__enlace">Preguntas
          frecuentes</a>
        <a href="/contacto" class="navegacion__enlace">Contacto</a>
        <a id="eliminar" href="/login" class="navegacion__enlace">Mi cuenta</a>
      </nav>
    </div>
  </div>
</header>